*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background: #006fb9;
  }
.global{
    /* border: 2px solid; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    

}
.container{
    margin: 10px;
    width: 50%;
    transition: transform 0.5s ease-in-out;
}
.container1{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, #006fb9 0%, #4bf7ff -100%, #006fb9 95%);
    /* border: 2px springgreen solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    /* background-image: url('/pexels-photo-209831.jpeg'); */

    /* margin-top: 60px; */
}
.container2{
    /* border: 2px springgreen solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.container3{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, #006fb9 0%, #4bf7ff 100%, #006fb9 95%);
    /* border: 2px springgreen solid; */
    display: flex;
    flex-direction: column;
    /* margin-top: 60px; */
    align-items: center;
    transform: scale(0);
    /* background-image: url('/pexels-photo-1431822.webp'); */

}
h1{
    background: rgb(131,58,180);
    background: linear-gradient(-90deg, #006fb9 0%, #4bf7ff 100%, #006fb9 0%);
    color: #006fb9;
    font-size: 5em;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pays,
#description,
#temp-min,
#temp-max,
#humidite{
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.affichePays,
.description,
.temp{
    font-weight: 800;
    color: #fff;
    font-size: 2em;
}
h2{
    color: #f1f1f1;
    margin: 5px;
    font-size: 2em;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
}
.input{
    width: 430px;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: #006fb9;
    
}
.ville{
    color: rgb(249, 249, 249);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.temperature{
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.degre{
    font-size: 0.6em;
}

button{
    padding: 12px;
    width: 430px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #006fb9;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
button:hover{
    letter-spacing: 2px;
    background-color: #0086e0;
    color: #fff;
    border: 1px springgreen solid;
    transform: scale(1.1);
}
@media all and (max-width:1024px) {
    .global{
        flex-direction: column;
        top: 60%;
    }
    .container2{
        
        /* background-image: url('/pexels-photo-125510.jpeg'); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        
    }
    .container1{
        /* background-image: url('/pexels-photo-209831.jpeg'); */
        background: rgb(131,58,180);
        background: linear-gradient(0deg, #006fb9 0%, #4bf7ff 100%, #006fb9 95%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-top: 40px;
        
    }
    .container3{
        background: rgb(131,58,180);
        background: linear-gradient(-900deg, #006fb9 0%, #4bf7ff 100%, #006fb9 100%);
        /* background-image: url('/pexels-photo-1431822.webp'); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        
    }
    h1{
        position: absolute; background: rgb(131,58,180);
        background: linear-gradient(90deg, #006fb9 0%, #4bf7ff 100%, #006fb9 95%);
        color: #006fb9;
        opacity: 0.2;
        font-size: 10em;

    }
    button{
        /* width: 60%; */
    }
    button:hover{
        letter-spacing: 2px;
        background-color: #006fb9;
        color: #fff;
        border: 1px springgreen solid;
        transform: scale(1);
    }
    .ville{
        color: #f1f1f1;
        z-index: 1000;
        font-size: 2em;
        
    }
    #formulaire{
        z-index: 100;
    }
}